<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:57:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClothingTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ae.ounass.test.ClothingTest@5d7148e2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@960714019</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:57:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ClothingTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ae.ounass.test.ClothingTest@3bf9ce3e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@219381416</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:59:11</td>   <td>71562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClothingTest.validateElementCountOnPageScroll(int)[pri:0, instance:ae.ounass.test.ClothingTest@5d7148e2]">validateElementCountOnPageScroll</td> 
  <td>TestNG-tests-2@960714019</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:59:15</td>   <td>75664</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClothingTest.tearDown()[pri:0, instance:ae.ounass.test.ClothingTest@5d7148e2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@960714019</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:59:40</td>   <td>100875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClothingTest.validateElementCountOnPageScroll(int)[pri:0, instance:ae.ounass.test.ClothingTest@3bf9ce3e]">validateElementCountOnPageScroll</td> 
  <td>TestNG-tests-1@219381416</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>18/07/21 13:59:43</td>   <td>103668</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ClothingTest.tearDown()[pri:0, instance:ae.ounass.test.ClothingTest@3bf9ce3e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@219381416</td>   <td></td> </tr>
</table>
