<h2>Reporter output</h2><table><tr><td><a href='F:\Projects\Selenium\Final\casestudy-2-productlistpage\target\reports\failure_screenshots\validateElementCountOnPageScroll_21_07_2018_01_59_14.png'> <img src='F:\Projects\Selenium\Final\casestudy-2-productlistpage\target\reports\failure_screenshots\validateElementCountOnPageScroll_21_07_2018_01_59_14.png' height='100' width='100'/> </a></td></tr>
<tr><td><a href='F:\Projects\Selenium\Final\casestudy-2-productlistpage\target\reports\failure_screenshots\validateElementCountOnPageScroll_21_07_2018_01_59_42.png'> <img src='F:\Projects\Selenium\Final\casestudy-2-productlistpage\target\reports\failure_screenshots\validateElementCountOnPageScroll_21_07_2018_01_59_42.png' height='100' width='100'/> </a></td></tr>
</table>